@{
    ViewData["Title"] = "Features";
 
    
   

}
<body>
    <section style="padding-top: 140px;" id="feature" class="about">
      <div  class="container">

        <div class="row justify-content-end">
        

          <div class="col-lg-6 video-box align-self-baseline position-relative">
            <img style="  border-radius: 12px;  width:500px; height: 300px !important;"src="assets/img/Films.jpg" class="img-fluid" alt="">
            
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3 style="color:#ff7f50">Films</h3>
            <p class="fst-italic">
             To Add, Edit, Delete, View the Movies
            </p>
               <h5 style="color:#ff7f50"><strong>Click here to Access Movies</strong></h5>       
                    <a asp-area="Views" asp-controller="Films" asp-action="Index"><input type="Submit" value="Movies" class = "btn1"></a>
                   
            <p>
             
            </p>
          </div>

        </div>

      </div>
      </section>
     

      
      <section id="feature" class="about">
     <div style="border-color:#ff7f50; border-width:10px;" class="container">

        <div class="row justify-content-end">
        

          <div class="col-lg-6 video-box align-self-baseline position-relative">
            <img style="  border-radius: 12px;  width:485px; height: 300px !important;"src="assets/img/actor.jpg" class="img-fluid" alt="">
            
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3 style="color:#ff7f50">Actors</h3>
            <p class="fst-italic">
             To Add, Edit, Delete, View the Actors
            </p>
               <h5 style="color:#ff7f50"><strong>Click here to Access Actors</strong></h5>       
                    <a asp-area="Views" asp-controller="Actors" asp-action="Index"><input type="Submit" value="Actors" class = "btn1"></a>
            <p>
             
            </p>
          </div>

        </div>

      </div>
      </section>
       <section id="feature" class="about">
     <div style="border-color:#ff7f50; border-width:10px;" class="container">

        <div class="row justify-content-end">
        

          <div class="col-lg-6 video-box align-self-baseline position-relative">
            <img style="  border-radius: 12px;  height: 300px !important;"src="assets/img/category1.jpg" class="img-fluid" alt="">
            
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3 style="color:#ff7f50">Category</h3>
            <p class="fst-italic">
             To Add, Edit, Delete, View the Categories
            </p>
               <h5 style="color:#ff7f50"><strong>Click here to Access the Categories</strong></h5>       
                    <a asp-area="Views" asp-controller="Categories" asp-action="Index"><input type="Submit" value="Categories" class = "btn1"> </a>
            <p>
             
            </p>
          </div>

        </div>

      </div>
      </section>
      <section style="padding-bottom: 140px";id="feature" class="about">
        <div style="border-color:#ff7f50;" class="container">

        <div class="row justify-content-end">
        

          <div class="col-lg-6 video-box align-self-baseline position-relative">
            <center><img style="  border-radius: 12px; height: 300px !important; "src="assets/img/language.jpg" class="img-fluid" alt=""></center>
            
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            <h3 style="color:#ff7f50">Language</h3>
            <p class="fst-italic">
              To Add, Edit, Delete, View the Languages
            </p>
               <h5 style="color:#ff7f50"><strong>Click here to Access the Language</strong></h5>       
                     <a asp-area="Views" asp-controller="Languages" asp-action="Index"><input type="Submit" value="Language" class = "btn1"> </a>
            <p>
             
            </p>
          </div>

        </div>

      </div>
      </section>
    </body>